src/main/resources/transmogrifier_config.xsd

<?xml version="1.0"?>

<!--
  ~ Copyright (c) 2010 Howard Hughes Medical Institute.
  ~ All rights reserved.
  ~ Use is subject to Janelia Farm Research Campus Software Copyright 1.1
  ~ license terms (http://license.janelia.org/license/jfrc_copyright_1_1.html).
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="targetPropertyType">
        <xs:attribute name="relativePath" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="xmlPropertyFileType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="groupProperty" type="targetPropertyType"/>
            <xs:element name="targetProperty" type="targetPropertyType"/>
        </xs:choice>
        <xs:attribute name="targetGroupPath" type="xs:string"/>
        <xs:attribute name="relativeTargetPath" type="xs:string" use="required"/>
        <xs:attribute name="relativeTargetNamePath" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="inputFileFilterType">
        <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="xmlPropertyFile" type="xmlPropertyFileType"/>
        </xs:choice>
        <xs:attribute name="patternString" type="xs:string"/>
        <xs:attribute name="patternGroupNumber" type="xs:positiveInteger"/>
        <xs:attribute name="excludeQueryUrl" type="xs:anyURI"/>
        <xs:attribute name="includeQueryUrl" type="xs:anyURI"/>
        <xs:attribute name="excludeList" type="xs:string"/>
        <xs:attribute name="includeList" type="xs:string"/>
        <xs:attribute name="recursiveSearch" type="xs:boolean"/>
        <xs:attribute name="filterDuplicates" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="inputFileSorterType">
        <xs:attribute name="sortAlgorithm" type="xs:string" use="required"/>
        <xs:attribute name="patternString" type="xs:string"/>
        <xs:attribute name="patternGroupIndexes" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="outputDirectoryType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="path" type="pathType"/>
            <xs:element name="renameFieldValue" type="renameFieldValueType"/>
            <xs:element name="sourceFileModificationTime"
                        type="sourceFileModificationTimeType"/>
        </xs:choice>
        <xs:attribute name="basePath" type="xs:string"/>
        <xs:attribute name="derivedFromEarliestModifiedFile" type="xs:boolean"/>
        <xs:attribute name="derivedFromSourceFile" type="xs:boolean"/>
        <xs:attribute name="fileModeReadOnly" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="fileTransferType">
        <xs:attribute name="bufferSize" type="xs:positiveInteger"/>
        <xs:attribute name="digestAlgorithm">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="adler32"/>
                    <xs:enumeration value="crc32"/>
                    <xs:enumeration value="md5"/>
                    <xs:enumeration value="sha1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="validationRequired" type="xs:boolean"/>
        <xs:attribute name="nioRequired" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="pathType">
        <xs:attribute name="path" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="renameFieldValueType">
        <xs:attribute name="fieldDisplayName" type="xs:string"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="pattern" type="xs:string"/>
        <xs:attribute name="patternGroupNumber" type="xs:positiveInteger"/>
    </xs:complexType>

    <xs:complexType name="sourceFileModificationTimeType">
        <xs:attribute name="datePattern" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="pluginType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="property" type="propertyType"/>
        </xs:sequence>
        <xs:attribute name="className" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="pluginsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="rowUpdater" type="pluginType" />
            <xs:element name="rowValidator" type="pluginType" />
            <xs:element name="rowListener" type="pluginType" />
            <xs:element name="sessionListener" type="pluginType" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="staticType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="numberType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="lsmDefault" type="lsmDefaultType"/>
                <xs:element name="sourceFileDefault" type="sourceFileDefaultType"/>
                <xs:element name="sourceFileMappedDefault" type="sourceFileMappedDefaultType"/>
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="minimumValue" type="xs:integer"/>
        <xs:attribute name="maximumValue" type="xs:integer"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="padFormat" type="xs:string"/>
        <xs:attribute name="editable" type="xs:boolean"/>
        <xs:attribute name="visible" type="xs:boolean"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="decimalType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="lsmDefault" type="lsmDefaultType"/>
                <xs:element name="sourceFileDefault" type="sourceFileDefaultType"/>
                <xs:element name="sourceFileMappedDefault" type="sourceFileMappedDefaultType"/>
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="minimumValue" type="xs:double"/>
        <xs:attribute name="maximumValue" type="xs:double"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="padFormat" type="xs:string"/>
        <xs:attribute name="editable" type="xs:boolean"/>
        <xs:attribute name="visible" type="xs:boolean"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="textType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="lsmDefault" type="lsmDefaultType"/>
                <xs:element name="sourceFileDefault" type="sourceFileDefaultType"/>
                <xs:element name="sourceFileMappedDefault" type="sourceFileMappedDefaultType"/>
                <xs:element name="sourceFileSlideLocationDefault" type="sourceFileSlideLocationDefaultType"/>
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="minimumLength" type="xs:integer"/>
        <xs:attribute name="maximumLength" type="xs:integer"/>
        <xs:attribute name="pattern" type="xs:string"/>
        <xs:attribute name="patternMatchFailureMessage" type="xs:string"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="padFormat" type="xs:string"/>
        <xs:attribute name="editable" type="xs:boolean"/>
        <xs:attribute name="visible" type="xs:boolean"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
        <xs:attribute name="convertToUpperCase" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="dateType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="sourceFileDateDefault" type="sourceFileDateDefaultType"/>
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="datePattern" type="xs:string"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="editable" type="xs:boolean"/>
        <xs:attribute name="visible" type="xs:boolean"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="wellType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="lsmDefault" type="lsmDefaultType"/>
                <xs:element name="sourceFileDefault" type="sourceFileDefaultType"/>
                <xs:element name="sourceFileMappedDefault" type="sourceFileMappedDefaultType"/>
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="formFactor" type="xs:integer"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="editable" type="xs:boolean"/>
        <xs:attribute name="visible" type="xs:boolean"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="validValueType">
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="default" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="validValueListType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="lsmDefault" type="lsmDefaultType"/>
                <xs:element name="sourceFileDefault" type="sourceFileDefaultType"/>
                <xs:element name="sourceFileMappedDefault" type="sourceFileMappedDefaultType"/>
                <xs:element name="sourceFileSlideLocationDefault" type="sourceFileSlideLocationDefaultType"/>
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
            </xs:choice>
            <xs:element name="validValue" type="validValueType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="autoComplete" type="xs:boolean"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
        <xs:attribute name="globalValueFilter" type="xs:string"/>
        <xs:attribute name="filterField" type="xs:string"/>
        <xs:attribute name="filterMap" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="webServiceListType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="lsmDefault" type="lsmDefaultType"/>
                <xs:element name="sourceFileDefault" type="sourceFileDefaultType"/>
                <xs:element name="sourceFileMappedDefault" type="sourceFileMappedDefaultType"/>
                <xs:element name="sourceFileSlideLocationDefault" type="sourceFileSlideLocationDefaultType"/>
                <xs:element name="targetPropertyDefault" type="targetPropertyDefaultType"/>
                <xs:element name="staticDefault" type="staticDefaultType" />
                <xs:element name="pluginDefault" type="pluginDefaultType"/>
            </xs:choice>
            <xs:element name="validValue" type="validValueType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="displayName" type="xs:string" use="required"/>
        <xs:attribute name="required" type="xs:boolean"/>
        <xs:attribute name="autoComplete" type="xs:boolean"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="copyable" type="xs:boolean"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="sharedForAllSessionFiles" type="xs:boolean"/>
        <xs:attribute name="globalValueFilter" type="xs:string"/>
        <xs:attribute name="filterField" type="xs:string"/>
        <xs:attribute name="filterMap" type="xs:string"/>
        <xs:attribute name="serviceUrl" type="xs:string" use="required"/>
        <xs:attribute name="displayNamePrefixedForValues" type="xs:boolean"/>
        <xs:attribute name="valueCreationPath" type="xs:string"/>
        <xs:attribute name="relativeActualValuePath" type="xs:string"/>
        <xs:attribute name="relativeValueDisplayNamePath" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="pluginDataType">
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="format" type="xs:string" use="optional"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="fileModificationTimeType">
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="datePattern" type="xs:string"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="runTimeType">
        <xs:attribute name="datePattern" type="xs:string"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="fileExtensionType">
        <xs:attribute name="markedForTask" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="targetNameType">
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="fileRelativePathType">
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="visible" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="fileNameType">
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="markedForTask" type="xs:boolean"/>
        <xs:attribute name="patternString" type="xs:string"/>
        <xs:attribute name="patternGroupNumber" type="xs:positiveInteger"/>
        <xs:attribute name="visible" type="xs:boolean"/>
    </xs:complexType>

    <xs:simpleType name="matchType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="name"/>
            <xs:enumeration value="path"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="lsmDefaultType">
        <xs:attribute name="propertyName" type="xs:string"/>
        <xs:attribute name="truncateDecimal" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="sourceFileDefaultType">
        <xs:attribute name="pattern" type="xs:string"/>
        <xs:attribute name="patternGroupSpec" type="xs:string"/>
        <xs:attribute name="matchType" type="matchType"/>
    </xs:complexType>

    <xs:complexType name="sourceFileDateDefaultType">
        <xs:attribute name="pattern" type="xs:string"/>
        <xs:attribute name="matchType" type="matchType"/>
        <xs:attribute name="fromDatePattern" type="xs:string"/>
        <xs:attribute name="toDatePattern" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="mappedValueType">
        <xs:attribute name="from" type="xs:string" use="required"/>
        <xs:attribute name="to" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="sourceFileMappedDefaultType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="mappedValue" type="mappedValueType"/>
        </xs:sequence>
        <xs:attribute name="pattern" type="xs:string"/>
        <xs:attribute name="patternGroupNumber" type="xs:positiveInteger"/>
        <xs:attribute name="matchType" type="matchType"/>
        <xs:attribute name="useKeyValueWhenUnmapped" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="sourceFileSlideLocationDefaultType">
        <xs:attribute name="pattern" type="xs:string"/>
        <xs:attribute name="patternGroupNumber" type="xs:positiveInteger"/>
        <xs:attribute name="matchType" type="matchType"/>
        <xs:attribute name="numberOfSlideColumns" type="xs:positiveInteger"/>
    </xs:complexType>

    <xs:complexType name="targetPropertyDefaultType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="mappedValue" type="mappedValueType"/>
        </xs:sequence>
        <xs:attribute name="propertyName" type="xs:string" use="required"/>
        <xs:attribute name="fromDatePattern" type="xs:string"/>
        <xs:attribute name="toDatePattern" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="staticDefaultType">
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="pluginDefaultType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="property" type="propertyType"/>
        </xs:sequence>
        <xs:attribute name="className" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="fieldGroupType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="number" type="numberType"/>
            <xs:element name="decimal" type="decimalType"/>
            <xs:element name="text" type="textType"/>
            <xs:element name="date" type="dateType"/>
            <xs:element name="well" type="wellType"/>
            <xs:element name="validValueList" type="validValueListType"/>
            <xs:element name="cvTermList" type="webServiceListType"/>
            <xs:element name="webServiceList" type="webServiceListType"/>
        </xs:choice>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="displayWidth" type="xs:positiveInteger"/>
        <xs:attribute name="minimumRows" type="xs:positiveInteger"/>
        <xs:attribute name="maximumRows" type="xs:positiveInteger"/>
    </xs:complexType>

    <xs:complexType name="dataFieldsType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="separator" type="staticType"/>
            <xs:element name="static" type="staticType"/>
            <xs:element name="number" type="numberType"/>
            <xs:element name="decimal" type="decimalType"/>
            <xs:element name="text" type="textType"/>
            <xs:element name="date" type="dateType"/>
            <xs:element name="well" type="wellType"/>
            <xs:element name="validValueList" type="validValueListType"/>
            <xs:element name="cvTermList" type="webServiceListType"/>
            <xs:element name="webServiceList" type="webServiceListType"/>
            <xs:element name="pluginData" type="pluginDataType"/>
            <xs:element name="fileModificationTime"
                        type="fileModificationTimeType"/>
            <xs:element name="runTime" type="runTimeType"/>
            <xs:element name="fileExtension"
                        type="fileExtensionType"/>
            <xs:element name="targetName"
                        type="targetNameType"/>
            <xs:element name="fileRelativePath"
                        type="fileRelativePathType"/>
            <xs:element name="fileName"
                        type="fileNameType"/>
            <xs:element name="fieldGroup"
                        type="fieldGroupType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="projectType">
        <xs:sequence>

            <xs:element name="inputFileFilter" type="inputFileFilterType" minOccurs="0"/>

            <xs:element name="inputFileSorter" type="inputFileSorterType" minOccurs="0"/>

            <xs:element name="outputDirectory" type="outputDirectoryType" minOccurs="0"/>

            <xs:element name="fileTransfer" type="fileTransferType" minOccurs="0"/>

            <xs:element name="plugins" type="pluginsType" minOccurs="0"/>

            <xs:element name="dataFields" type="dataFieldsType" maxOccurs="1"/>

        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="default" type="xs:boolean"/>
        <xs:attribute name="taskName">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="rename"/>
                    <xs:enumeration value="rename-without-delete"/>
                    <xs:enumeration value="simple-move"/>
                    <xs:enumeration value="move-and-log-digest"/>
                    <xs:enumeration value="collector"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="copyPreviousButtonVisible" type="xs:boolean"/>
        <xs:attribute name="imageFamilyName" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="globalType">
        <xs:attribute name="minimumVersion" type="xs:string"/>
        <!-- ratios not between 40 and 99 will be reset to 80 -->
        <xs:attribute name="frameSizePercentage" type="xs:positiveInteger"/>
    </xs:complexType>

    <xs:element name="transmogrifierConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="global" type="globalType" minOccurs="0" maxOccurs="1"/>
                <xs:element name="project" type="projectType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>